<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<key>spriteFrameFiles</key>
	<array>
		<string>Bird Assets.plist</string>
		<string>GUI.plist</string>
		<string>Leaf Front.plist</string>
		<string>Crab.plist</string>
		<string>Leaf Back.plist</string>
		<string>Bird Back.plist</string>
		<string>Crab Back.plist</string>
		<string>Attacks.plist</string>
	</array>
</dict>
</plist>
