<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Fire Elemental/crack1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1901, 433}, {560, 132}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {560, 132}}</string>
			<key>sourceSize</key>
			<string>{560, 132}</string>
		</dict>
		<key>Fire Elemental/emberA1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {134, 652}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {134, 652}}</string>
			<key>sourceSize</key>
			<string>{134, 652}</string>
		</dict>
		<key>Fire Elemental/emberA2.png</key>
		<dict>
			<key>frame</key>
			<string>{{791, 273}, {134, 652}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {134, 652}}</string>
			<key>sourceSize</key>
			<string>{134, 652}</string>
		</dict>
		<key>Fire Elemental/emberA3.png</key>
		<dict>
			<key>frame</key>
			<string>{{137, 273}, {134, 652}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {134, 652}}</string>
			<key>sourceSize</key>
			<string>{134, 652}</string>
		</dict>
		<key>Fire Elemental/emberA4.png</key>
		<dict>
			<key>frame</key>
			<string>{{791, 137}, {134, 652}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {134, 652}}</string>
			<key>sourceSize</key>
			<string>{134, 652}</string>
		</dict>
		<key>Fire Elemental/emberA5.png</key>
		<dict>
			<key>frame</key>
			<string>{{137, 137}, {134, 652}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {134, 652}}</string>
			<key>sourceSize</key>
			<string>{134, 652}</string>
		</dict>
		<key>Fire Elemental/emberA6.png</key>
		<dict>
			<key>frame</key>
			<string>{{791, 1}, {134, 652}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {134, 652}}</string>
			<key>sourceSize</key>
			<string>{134, 652}</string>
		</dict>
		<key>Fire Elemental/emberA7.png</key>
		<dict>
			<key>frame</key>
			<string>{{137, 1}, {134, 652}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {134, 652}}</string>
			<key>sourceSize</key>
			<string>{134, 652}</string>
		</dict>
		<key>Fire Elemental/emberA8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1309}, {134, 652}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {134, 652}}</string>
			<key>sourceSize</key>
			<string>{134, 652}</string>
		</dict>
		<key>Fire Elemental/emberA9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 655}, {134, 652}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {134, 652}}</string>
			<key>sourceSize</key>
			<string>{134, 652}</string>
		</dict>
		<key>Fire Elemental/emberB1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1445, 1}, {214, 586}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 586}}</string>
			<key>sourceSize</key>
			<string>{214, 586}</string>
		</dict>
		<key>Fire Elemental/emberB2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1001, 1273}, {214, 586}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 586}}</string>
			<key>sourceSize</key>
			<string>{214, 586}</string>
		</dict>
		<key>Fire Elemental/emberB3.png</key>
		<dict>
			<key>frame</key>
			<string>{{569, 1273}, {214, 586}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 586}}</string>
			<key>sourceSize</key>
			<string>{214, 586}</string>
		</dict>
		<key>Fire Elemental/emberB4.png</key>
		<dict>
			<key>frame</key>
			<string>{{353, 1453}, {214, 586}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 586}}</string>
			<key>sourceSize</key>
			<string>{214, 586}</string>
		</dict>
		<key>Fire Elemental/emberB5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1313, 865}, {214, 586}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 586}}</string>
			<key>sourceSize</key>
			<string>{214, 586}</string>
		</dict>
		<key>Fire Elemental/emberB6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1313, 649}, {214, 586}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 586}}</string>
			<key>sourceSize</key>
			<string>{214, 586}</string>
		</dict>
		<key>Fire Elemental/emberB7.png</key>
		<dict>
			<key>frame</key>
			<string>{{137, 649}, {214, 586}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 586}}</string>
			<key>sourceSize</key>
			<string>{214, 586}</string>
		</dict>
		<key>Fire Elemental/emberB8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1313, 433}, {214, 586}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 586}}</string>
			<key>sourceSize</key>
			<string>{214, 586}</string>
		</dict>
		<key>Fire Elemental/emberB9.png</key>
		<dict>
			<key>frame</key>
			<string>{{137, 409}, {214, 586}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 586}}</string>
			<key>sourceSize</key>
			<string>{214, 586}</string>
		</dict>
		<key>Fire Elemental/emberC1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1217, 1081}, {214, 586}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 586}}</string>
			<key>sourceSize</key>
			<string>{214, 586}</string>
		</dict>
		<key>Fire Elemental/emberC2.png</key>
		<dict>
			<key>frame</key>
			<string>{{785, 1273}, {214, 586}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 586}}</string>
			<key>sourceSize</key>
			<string>{214, 586}</string>
		</dict>
		<key>Fire Elemental/emberC3.png</key>
		<dict>
			<key>frame</key>
			<string>{{569, 1057}, {214, 586}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 586}}</string>
			<key>sourceSize</key>
			<string>{214, 586}</string>
		</dict>
		<key>Fire Elemental/emberC4.png</key>
		<dict>
			<key>frame</key>
			<string>{{353, 865}, {214, 586}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 586}}</string>
			<key>sourceSize</key>
			<string>{214, 586}</string>
		</dict>
		<key>Fire Elemental/emberC5.png</key>
		<dict>
			<key>frame</key>
			<string>{{725, 841}, {214, 586}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 586}}</string>
			<key>sourceSize</key>
			<string>{214, 586}</string>
		</dict>
		<key>Fire Elemental/emberC6.png</key>
		<dict>
			<key>frame</key>
			<string>{{725, 625}, {214, 586}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 586}}</string>
			<key>sourceSize</key>
			<string>{214, 586}</string>
		</dict>
		<key>Fire Elemental/emberC7.png</key>
		<dict>
			<key>frame</key>
			<string>{{137, 995}, {214, 586}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 586}}</string>
			<key>sourceSize</key>
			<string>{214, 586}</string>
		</dict>
		<key>Fire Elemental/emberC8.png</key>
		<dict>
			<key>frame</key>
			<string>{{725, 409}, {214, 586}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 586}}</string>
			<key>sourceSize</key>
			<string>{214, 586}</string>
		</dict>
		<key>Fire Elemental/emberC9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1445, 217}, {214, 586}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 586}}</string>
			<key>sourceSize</key>
			<string>{214, 586}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>Fire Elemental.png</string>
	</dict>
</dict>
</plist>
