<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GUI/backgroundBars1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {2042, 1920}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2042, 1920}}</string>
			<key>sourceSize</key>
			<string>{2042, 1920}</string>
		</dict>
		<key>GUI/backgroundBlue1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2045, 1283}, {1280, 1920}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1280, 1920}}</string>
			<key>sourceSize</key>
			<string>{1280, 1920}</string>
		</dict>
		<key>GUI/backgroundOrange1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2045, 1}, {1280, 1920}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1280, 1920}}</string>
			<key>sourceSize</key>
			<string>{1280, 1920}</string>
		</dict>
		<key>GUI/buttonBase1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2565}, {1280, 370}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1280, 370}}</string>
			<key>sourceSize</key>
			<string>{1280, 370}</string>
		</dict>
		<key>GUI/elementFire.png</key>
		<dict>
			<key>frame</key>
			<string>{{3967, 1}, {82, 82}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {82, 82}}</string>
			<key>sourceSize</key>
			<string>{82, 82}</string>
		</dict>
		<key>GUI/elementLeaf.png</key>
		<dict>
			<key>frame</key>
			<string>{{3967, 169}, {82, 82}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {82, 82}}</string>
			<key>sourceSize</key>
			<string>{82, 82}</string>
		</dict>
		<key>GUI/elementNormal1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1187, 2515}, {294, 296}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {294, 296}}</string>
			<key>sourceSize</key>
			<string>{294, 296}</string>
		</dict>
		<key>GUI/elementPressed1.png</key>
		<dict>
			<key>frame</key>
			<string>{{593, 2225}, {294, 296}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {294, 296}}</string>
			<key>sourceSize</key>
			<string>{294, 296}</string>
		</dict>
		<key>GUI/elementWater.png</key>
		<dict>
			<key>frame</key>
			<string>{{3967, 85}, {82, 82}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {82, 82}}</string>
			<key>sourceSize</key>
			<string>{82, 82}</string>
		</dict>
		<key>GUI/experienceBar1.png</key>
		<dict>
			<key>frame</key>
			<string>{{3967, 253}, {422, 66}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {422, 66}}</string>
			<key>sourceSize</key>
			<string>{422, 66}</string>
		</dict>
		<key>GUI/hpBar1.png</key>
		<dict>
			<key>frame</key>
			<string>{{4051, 1}, {564, 30}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {564, 30}}</string>
			<key>sourceSize</key>
			<string>{564, 30}</string>
		</dict>
		<key>GUI/hpFrame1.png</key>
		<dict>
			<key>frame</key>
			<string>{{4035, 567}, {634, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {634, 46}}</string>
			<key>sourceSize</key>
			<string>{634, 46}</string>
		</dict>
		<key>GUI/infoBase1.png</key>
		<dict>
			<key>frame</key>
			<string>{{889, 2225}, {788, 288}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {788, 288}}</string>
			<key>sourceSize</key>
			<string>{788, 288}</string>
		</dict>
		<key>GUI/platformBig1.png</key>
		<dict>
			<key>frame</key>
			<string>{{739, 1923}, {1124, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1124, 300}}</string>
			<key>sourceSize</key>
			<string>{1124, 300}</string>
		</dict>
		<key>GUI/platformSmall1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3847}, {724, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {724, 192}}</string>
			<key>sourceSize</key>
			<string>{724, 192}</string>
		</dict>
		<key>GUI/singNormal1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1679, 2225}, {294, 296}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {294, 296}}</string>
			<key>sourceSize</key>
			<string>{294, 296}</string>
		</dict>
		<key>GUI/singPressed1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2225}, {294, 296}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {294, 296}}</string>
			<key>sourceSize</key>
			<string>{294, 296}</string>
		</dict>
		<key>GUI/swipeNormal1.png</key>
		<dict>
			<key>frame</key>
			<string>{{297, 1923}, {294, 296}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {294, 296}}</string>
			<key>sourceSize</key>
			<string>{294, 296}</string>
		</dict>
		<key>GUI/swipePressed1.png</key>
		<dict>
			<key>frame</key>
			<string>{{297, 2225}, {294, 296}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {294, 296}}</string>
			<key>sourceSize</key>
			<string>{294, 296}</string>
		</dict>
		<key>GUI/tackleNormal1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1923}, {294, 296}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {294, 296}}</string>
			<key>sourceSize</key>
			<string>{294, 296}</string>
		</dict>
		<key>GUI/tacklePressed1.png</key>
		<dict>
			<key>frame</key>
			<string>{{889, 2515}, {294, 296}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {294, 296}}</string>
			<key>sourceSize</key>
			<string>{294, 296}</string>
		</dict>
		<key>GUI/textBase1.png</key>
		<dict>
			<key>frame</key>
			<string>{{373, 2565}, {1276, 364}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1276, 364}}</string>
			<key>sourceSize</key>
			<string>{1276, 364}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>GUI.png</string>
	</dict>
</dict>
</plist>
