<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Crab Back/body.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {281, 468}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {281, 468}}</string>
			<key>sourceSize</key>
			<string>{281, 468}</string>
		</dict>
		<key>Crab Back/eyeRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{284, 318}, {139, 158}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {139, 158}}</string>
			<key>sourceSize</key>
			<string>{139, 158}</string>
		</dict>
		<key>Crab Back/legLeft1.png</key>
		<dict>
			<key>frame</key>
			<string>{{628, 121}, {84, 66}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84, 66}}</string>
			<key>sourceSize</key>
			<string>{84, 66}</string>
		</dict>
		<key>Crab Back/legLeft2.png</key>
		<dict>
			<key>frame</key>
			<string>{{542, 121}, {84, 110}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84, 110}}</string>
			<key>sourceSize</key>
			<string>{84, 110}</string>
		</dict>
		<key>Crab Back/legLeft3.png</key>
		<dict>
			<key>frame</key>
			<string>{{425, 318}, {76, 143}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {76, 143}}</string>
			<key>sourceSize</key>
			<string>{76, 143}</string>
		</dict>
		<key>Crab Back/legRight1.png</key>
		<dict>
			<key>frame</key>
			<string>{{542, 233}, {105, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {105, 70}}</string>
			<key>sourceSize</key>
			<string>{105, 70}</string>
		</dict>
		<key>Crab Back/legRight2.png</key>
		<dict>
			<key>frame</key>
			<string>{{542, 1}, {95, 118}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {95, 118}}</string>
			<key>sourceSize</key>
			<string>{95, 118}</string>
		</dict>
		<key>Crab Back/legRight3.png</key>
		<dict>
			<key>frame</key>
			<string>{{503, 318}, {97, 135}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {97, 135}}</string>
			<key>sourceSize</key>
			<string>{97, 135}</string>
		</dict>
		<key>Crab Back/spots.png</key>
		<dict>
			<key>frame</key>
			<string>{{284, 1}, {256, 315}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {256, 315}}</string>
			<key>sourceSize</key>
			<string>{256, 315}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>textureFileName</key>
		<string>Crab Back.png</string>
	</dict>
</dict>
</plist>
