<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Fire Elemental/crack1.png</key>
		<dict>
			<key>frame</key>
			<string>{{955, 219}, {280, 66}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {280, 66}}</string>
			<key>sourceSize</key>
			<string>{280, 66}</string>
		</dict>
		<key>Fire Elemental/emberA1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {67, 326}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {67, 326}}</string>
			<key>sourceSize</key>
			<string>{67, 326}</string>
		</dict>
		<key>Fire Elemental/emberA2.png</key>
		<dict>
			<key>frame</key>
			<string>{{398, 139}, {67, 326}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {67, 326}}</string>
			<key>sourceSize</key>
			<string>{67, 326}</string>
		</dict>
		<key>Fire Elemental/emberA3.png</key>
		<dict>
			<key>frame</key>
			<string>{{70, 139}, {67, 326}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {67, 326}}</string>
			<key>sourceSize</key>
			<string>{67, 326}</string>
		</dict>
		<key>Fire Elemental/emberA4.png</key>
		<dict>
			<key>frame</key>
			<string>{{398, 70}, {67, 326}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {67, 326}}</string>
			<key>sourceSize</key>
			<string>{67, 326}</string>
		</dict>
		<key>Fire Elemental/emberA5.png</key>
		<dict>
			<key>frame</key>
			<string>{{70, 70}, {67, 326}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {67, 326}}</string>
			<key>sourceSize</key>
			<string>{67, 326}</string>
		</dict>
		<key>Fire Elemental/emberA6.png</key>
		<dict>
			<key>frame</key>
			<string>{{398, 1}, {67, 326}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {67, 326}}</string>
			<key>sourceSize</key>
			<string>{67, 326}</string>
		</dict>
		<key>Fire Elemental/emberA7.png</key>
		<dict>
			<key>frame</key>
			<string>{{70, 1}, {67, 326}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {67, 326}}</string>
			<key>sourceSize</key>
			<string>{67, 326}</string>
		</dict>
		<key>Fire Elemental/emberA8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 657}, {67, 326}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {67, 326}}</string>
			<key>sourceSize</key>
			<string>{67, 326}</string>
		</dict>
		<key>Fire Elemental/emberA9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 329}, {67, 326}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {67, 326}}</string>
			<key>sourceSize</key>
			<string>{67, 326}</string>
		</dict>
		<key>Fire Elemental/emberB1.png</key>
		<dict>
			<key>frame</key>
			<string>{{726, 1}, {107, 293}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 293}}</string>
			<key>sourceSize</key>
			<string>{107, 293}</string>
		</dict>
		<key>Fire Elemental/emberB2.png</key>
		<dict>
			<key>frame</key>
			<string>{{615, 546}, {107, 293}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 293}}</string>
			<key>sourceSize</key>
			<string>{107, 293}</string>
		</dict>
		<key>Fire Elemental/emberB3.png</key>
		<dict>
			<key>frame</key>
			<string>{{397, 644}, {107, 293}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 293}}</string>
			<key>sourceSize</key>
			<string>{107, 293}</string>
		</dict>
		<key>Fire Elemental/emberB4.png</key>
		<dict>
			<key>frame</key>
			<string>{{288, 535}, {107, 293}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 293}}</string>
			<key>sourceSize</key>
			<string>{107, 293}</string>
		</dict>
		<key>Fire Elemental/emberB5.png</key>
		<dict>
			<key>frame</key>
			<string>{{660, 437}, {107, 293}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 293}}</string>
			<key>sourceSize</key>
			<string>{107, 293}</string>
		</dict>
		<key>Fire Elemental/emberB6.png</key>
		<dict>
			<key>frame</key>
			<string>{{660, 328}, {107, 293}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 293}}</string>
			<key>sourceSize</key>
			<string>{107, 293}</string>
		</dict>
		<key>Fire Elemental/emberB7.png</key>
		<dict>
			<key>frame</key>
			<string>{{70, 328}, {107, 293}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 293}}</string>
			<key>sourceSize</key>
			<string>{107, 293}</string>
		</dict>
		<key>Fire Elemental/emberB8.png</key>
		<dict>
			<key>frame</key>
			<string>{{660, 219}, {107, 293}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 293}}</string>
			<key>sourceSize</key>
			<string>{107, 293}</string>
		</dict>
		<key>Fire Elemental/emberB9.png</key>
		<dict>
			<key>frame</key>
			<string>{{70, 208}, {107, 293}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 293}}</string>
			<key>sourceSize</key>
			<string>{107, 293}</string>
		</dict>
		<key>Fire Elemental/emberC1.png</key>
		<dict>
			<key>frame</key>
			<string>{{910, 546}, {107, 293}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 293}}</string>
			<key>sourceSize</key>
			<string>{107, 293}</string>
		</dict>
		<key>Fire Elemental/emberC2.png</key>
		<dict>
			<key>frame</key>
			<string>{{506, 644}, {107, 293}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 293}}</string>
			<key>sourceSize</key>
			<string>{107, 293}</string>
		</dict>
		<key>Fire Elemental/emberC3.png</key>
		<dict>
			<key>frame</key>
			<string>{{288, 644}, {107, 293}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 293}}</string>
			<key>sourceSize</key>
			<string>{107, 293}</string>
		</dict>
		<key>Fire Elemental/emberC4.png</key>
		<dict>
			<key>frame</key>
			<string>{{179, 437}, {107, 293}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 293}}</string>
			<key>sourceSize</key>
			<string>{107, 293}</string>
		</dict>
		<key>Fire Elemental/emberC5.png</key>
		<dict>
			<key>frame</key>
			<string>{{365, 426}, {107, 293}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 293}}</string>
			<key>sourceSize</key>
			<string>{107, 293}</string>
		</dict>
		<key>Fire Elemental/emberC6.png</key>
		<dict>
			<key>frame</key>
			<string>{{365, 317}, {107, 293}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 293}}</string>
			<key>sourceSize</key>
			<string>{107, 293}</string>
		</dict>
		<key>Fire Elemental/emberC7.png</key>
		<dict>
			<key>frame</key>
			<string>{{70, 501}, {107, 293}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 293}}</string>
			<key>sourceSize</key>
			<string>{107, 293}</string>
		</dict>
		<key>Fire Elemental/emberC8.png</key>
		<dict>
			<key>frame</key>
			<string>{{365, 208}, {107, 293}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 293}}</string>
			<key>sourceSize</key>
			<string>{107, 293}</string>
		</dict>
		<key>Fire Elemental/emberC9.png</key>
		<dict>
			<key>frame</key>
			<string>{{726, 110}, {107, 293}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 293}}</string>
			<key>sourceSize</key>
			<string>{107, 293}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>Fire Elemental.png</string>
	</dict>
</dict>
</plist>
