<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Leaf Front/armLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{40, 193}, {55, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {55, 35}}</string>
			<key>sourceSize</key>
			<string>{55, 35}</string>
		</dict>
		<key>Leaf Front/armRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 193}, {60, 37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {60, 37}}</string>
			<key>sourceSize</key>
			<string>{60, 37}</string>
		</dict>
		<key>Leaf Front/eyeLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{160, 79}, {46, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {46, 48}}</string>
			<key>sourceSize</key>
			<string>{46, 48}</string>
		</dict>
		<key>Leaf Front/eyeRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{160, 1}, {48, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 50}}</string>
			<key>sourceSize</key>
			<string>{48, 50}</string>
		</dict>
		<key>Leaf Front/head.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {135, 190}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {135, 190}}</string>
			<key>sourceSize</key>
			<string>{135, 190}</string>
		</dict>
		<key>Leaf Front/legLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{138, 1}, {25, 18}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 18}}</string>
			<key>sourceSize</key>
			<string>{25, 18}</string>
		</dict>
		<key>Leaf Front/legRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{212, 89}, {30, 21}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {30, 21}}</string>
			<key>sourceSize</key>
			<string>{30, 21}</string>
		</dict>
		<key>Leaf Front/lidAngryLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{212, 1}, {41, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {41, 38}}</string>
			<key>sourceSize</key>
			<string>{41, 38}</string>
		</dict>
		<key>Leaf Front/lidAngryRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{212, 41}, {46, 31}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {46, 31}}</string>
			<key>sourceSize</key>
			<string>{46, 31}</string>
		</dict>
		<key>Leaf Front/lidHurtLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{212, 112}, {47, 29}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47, 29}}</string>
			<key>sourceSize</key>
			<string>{47, 29}</string>
		</dict>
		<key>Leaf Front/lidHurtRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{160, 51}, {49, 26}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {49, 26}}</string>
			<key>sourceSize</key>
			<string>{49, 26}</string>
		</dict>
		<key>Leaf Front/mouthAngry.png</key>
		<dict>
			<key>frame</key>
			<string>{{245, 41}, {29, 9}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {29, 9}}</string>
			<key>sourceSize</key>
			<string>{29, 9}</string>
		</dict>
		<key>Leaf Front/mouthHappy.png</key>
		<dict>
			<key>frame</key>
			<string>{{138, 161}, {29, 20}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {29, 20}}</string>
			<key>sourceSize</key>
			<string>{29, 20}</string>
		</dict>
		<key>Leaf Front/mouthHurt.png</key>
		<dict>
			<key>frame</key>
			<string>{{160, 161}, {16, 27}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {16, 27}}</string>
			<key>sourceSize</key>
			<string>{16, 27}</string>
		</dict>
		<key>Leaf Front/stem.png</key>
		<dict>
			<key>frame</key>
			<string>{{77, 193}, {53, 133}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {53, 133}}</string>
			<key>sourceSize</key>
			<string>{53, 133}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>textureFileName</key>
		<string>Leaf Front.png</string>
	</dict>
</dict>
</plist>
