<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>TackleBlue/tackleBlue1.png</key>
		<dict>
			<key>frame</key>
			<string>{{777, 527}, {112, 86}}</string>
			<key>offset</key>
			<string>{1, -73}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{142, 145}, {112, 86}}</string>
			<key>sourceSize</key>
			<string>{394, 231}</string>
		</dict>
		<key>TackleBlue/tackleBlue10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {394, 231}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {394, 231}}</string>
			<key>sourceSize</key>
			<string>{394, 231}</string>
		</dict>
		<key>TackleBlue/tackleBlue2.png</key>
		<dict>
			<key>frame</key>
			<string>{{891, 527}, {70, 60}}</string>
			<key>offset</key>
			<string>{1, -85}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{163, 170}, {70, 60}}</string>
			<key>sourceSize</key>
			<string>{394, 231}</string>
		</dict>
		<key>TackleBlue/tackleBlue3.png</key>
		<dict>
			<key>frame</key>
			<string>{{653, 439}, {188, 122}}</string>
			<key>offset</key>
			<string>{0, -55}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{103, 109}, {188, 122}}</string>
			<key>sourceSize</key>
			<string>{394, 231}</string>
		</dict>
		<key>TackleBlue/tackleBlue4.png</key>
		<dict>
			<key>frame</key>
			<string>{{781, 1}, {236, 150}}</string>
			<key>offset</key>
			<string>{3, -41}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{82, 81}, {236, 150}}</string>
			<key>sourceSize</key>
			<string>{394, 231}</string>
		</dict>
		<key>TackleBlue/tackleBlue5.png</key>
		<dict>
			<key>frame</key>
			<string>{{345, 439}, {306, 182}}</string>
			<key>offset</key>
			<string>{0, -25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44, 49}, {306, 182}}</string>
			<key>sourceSize</key>
			<string>{394, 231}</string>
		</dict>
		<key>TackleBlue/tackleBlue6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 234}, {342, 231}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26, 0}, {342, 231}}</string>
			<key>sourceSize</key>
			<string>{394, 231}</string>
		</dict>
		<key>TackleBlue/tackleBlue7.png</key>
		<dict>
			<key>frame</key>
			<string>{{397, 227}, {358, 210}}</string>
			<key>offset</key>
			<string>{1, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19, 20}, {358, 210}}</string>
			<key>sourceSize</key>
			<string>{394, 231}</string>
		</dict>
		<key>TackleBlue/tackleBlue8.png</key>
		<dict>
			<key>frame</key>
			<string>{{781, 153}, {372, 231}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11, 0}, {372, 231}}</string>
			<key>sourceSize</key>
			<string>{394, 231}</string>
		</dict>
		<key>TackleBlue/tackleBlue9.png</key>
		<dict>
			<key>frame</key>
			<string>{{397, 1}, {382, 224}}</string>
			<key>offset</key>
			<string>{0, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 5}, {382, 224}}</string>
			<key>sourceSize</key>
			<string>{394, 231}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>TackleBlue.png</string>
	</dict>
</dict>
</plist>
