<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Crab Back/body.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {140, 234}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 234}}</string>
			<key>sourceSize</key>
			<string>{140, 234}</string>
		</dict>
		<key>Crab Back/eyeRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{143, 160}, {69, 79}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {69, 79}}</string>
			<key>sourceSize</key>
			<string>{69, 79}</string>
		</dict>
		<key>Crab Back/legLeft1.png</key>
		<dict>
			<key>frame</key>
			<string>{{317, 62}, {42, 33}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 33}}</string>
			<key>sourceSize</key>
			<string>{42, 33}</string>
		</dict>
		<key>Crab Back/legLeft2.png</key>
		<dict>
			<key>frame</key>
			<string>{{273, 62}, {42, 55}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 55}}</string>
			<key>sourceSize</key>
			<string>{42, 55}</string>
		</dict>
		<key>Crab Back/legLeft3.png</key>
		<dict>
			<key>frame</key>
			<string>{{214, 160}, {38, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {38, 71}}</string>
			<key>sourceSize</key>
			<string>{38, 71}</string>
		</dict>
		<key>Crab Back/legRight1.png</key>
		<dict>
			<key>frame</key>
			<string>{{273, 119}, {52, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 35}}</string>
			<key>sourceSize</key>
			<string>{52, 35}</string>
		</dict>
		<key>Crab Back/legRight2.png</key>
		<dict>
			<key>frame</key>
			<string>{{273, 1}, {47, 59}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47, 59}}</string>
			<key>sourceSize</key>
			<string>{47, 59}</string>
		</dict>
		<key>Crab Back/legRight3.png</key>
		<dict>
			<key>frame</key>
			<string>{{254, 160}, {48, 67}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 67}}</string>
			<key>sourceSize</key>
			<string>{48, 67}</string>
		</dict>
		<key>Crab Back/spots.png</key>
		<dict>
			<key>frame</key>
			<string>{{143, 1}, {128, 157}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 157}}</string>
			<key>sourceSize</key>
			<string>{128, 157}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>textureFileName</key>
		<string>Crab Back.png</string>
	</dict>
</dict>
</plist>
